html {
    font-size: 14px;
}

body {
    font-family: 'Cormorant';
    font-weight: 300;
    font-style: normal;
    background-color: #ffffff;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
}
