html {
    font-size: 14px;

    @media screen and (max-width: 1440px) {
        font-size: 12px;
    }

}

body {
    font-family: 'Cormorant';
    font-weight: 300;
    font-style: normal;
    background-color: #ffffff;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0;

    @media screen and (max-width: 1440px) {
        width: 724px;
    }

    @media screen and (max-width: 763px) {
        width: 290px;
    }
}

ul {
    list-style-type: none;
}
