.blog {
    position: relative;
    margin-bottom: 110px;

    &__title {
        margin-bottom: 135px;

        @media screen and (max-width: 763px) {
            margin-bottom: 20px;
        }
    }

    &__number {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2.142rem;
        width: 30%;
        border-bottom: 2px solid #787272;

        &--border {
            margin-left: 15%;
            border-bottom: 4px solid #615a5a;
            padding-bottom: 2px;
        }
    }

    &__wrapper {
        display: flex;
        margin-bottom: 70px;
        margin-right: 15px;
        overflow-x: scroll;

        @media screen and (max-width: 763px) {
            margin-bottom: 30px;
        }

        &-section {
            max-width: 401px;
            margin-right: 15px;
            margin-left: 15px;
        }

        &-hashtag {
            display: block;
            font-size: 1.142rem;
            margin-bottom: 5px;
        }

        &-title {
            font-size: 2.142rem;
        }

        &-description {
            font-size: 1.142rem;
        }

        &-img {
            @media screen and (max-width: 1440px) {
                width: 345px;
                height: 541px;
            }

            @media screen and (max-width: 763px) {
                width: 244px;
                height: 371px;
            }
        }
    }

    &__link {
        display: block;
        width: max-content;
        margin: 0 auto;
        padding-bottom: 6px;
        text-align: center;
        font-size: 1.242rem;
        color: #000000;
        text-decoration: none;

        &:hover {
            color: #79100b;
            text-decoration: none;
            border-bottom: 1px solid #79100b;
            padding-bottom: 5px;
        }
    }
}
