.footer {
    position: relative;
    font-weight: normal;
    width: 100%;
    height: 521px;
    background: linear-gradient(to right, #decec5 54%, #ece5e1 54%);

    @media screen and (max-width: 1440px) {
        background: #ece5e1;
        height: 302px;
    }

    &__container {
        position: relative;
        display: flex;
        min-height: 100%;
    }

    &__left {
        position: absolute;
        display: flex;
        width: 643px;
        top: 51%;
        transform: translateY(-50%);

        @media screen and (max-width: 1440px) {
            display: none;
        }
    }

    &__list--margin-left-side {
        margin-right: 90px;

        &:last-child {
            margin-right: 0;
            margin-left: 14px;
        }
    }

    &__list {
        font-size: 1.285rem;
        line-height: 2.4;
        padding: 0;

        &:last-child {
            margin-top: 3.3rem;
        }

        &-item {
            width: max-content;

            &--bold {
                font-weight: bold;
            }

            &--none {
                @media screen and (max-width: 763px) {
                    display: none;
                }
            }
        }
    }

    &__link-item {
        cursor: pointer;
        color: #000000;

        &:hover {
            color: #91171d;
        }
    }

    &__right {
        position: absolute;
        display: flex;
        top: 9%;
        left: 59%;

        @media screen and (max-width: 1440px) {
            left: 0;
        }
    }

    &__list-item--mb-2 {
        margin-bottom: 15px;
    }

    &__list-item--mb-3 {
        margin-bottom: 24px;

        @media screen and (max-width: 1440px) {
            display: none;
        }
    }

    &__list--margin-right-side {
        margin-right: 45px;
    }

    &__tel {
        color: #000000;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
            color: #91171d;
        }
    }

    &__social {
        margin-right: 18px;
        color: #000000;
        text-decoration: none;

        @media screen and (max-width: 763px) {
            display: block;
        }

        &:hover {
            color: #91171d;
        }
    }

    &__email {
        width: 193px;
        background: transparent;
        border: none;
        margin-top: 12px;
        margin-bottom:35px;
        border-bottom: 1px solid #000000;

        @media screen and (max-width: 1440px) {
            display: none;
        }
    }

    &__pay {
        min-height: 45px;
        margin-bottom: 4px;

        @media screen and (max-width: 763px) {
            display: none;
        }
    }

    &__visa {
        display: inline-block;
        width: 45px;
        margin-right: 15px;
        @include sprite($visa);
    }

    &__master-card {
        display: inline-block;
        width: 71px;
        margin-right: 15px;
        @include sprite($mastercard);
    }

    &__paypal {
        display: inline-block;
        width: 45px;
        @include sprite($paypal);
    }

    &__pay-link {
        line-height: 1;
        text-decoration: underline;
        color: #000000;

        &:hover {
            color: #91171d;
        }
    }

    &__copyright {
        position: absolute;
        bottom: 4%;
        right: 0;
        font-weight: bold;
    }

    &__pay-text {
        @media screen and (max-width: 763px) {
            display: none;
        }
    }
}