.hero {
    margin-bottom: 151px;

    &__container {
        display: flex;
        justify-content: space-between;
    }




    &__image {
        position: relative;
        display: block;
        margin-top: -20px;
        margin-right: 95px;
        width: 50%;

        @media screen and (max-width: 1440px) {
            margin-right: 10%;
        }

        &--size {
            @media screen and (max-width: 1440px) {
                width: 393px;
                height: 647px;
            }
        }

        &-text {
            width: 367px;
            height: 104px;
            @include center-x;
            bottom: 80px;
            background-color: #ede7e2;
            opacity: .8;
            font-weight: 500;
            color: #79100b;

            @media screen and (max-width: 1440px) {
                left: 58%;
            }

            &-product {
                font-size: 1.714rem;
                margin-top: 20px;
                text-align: center;
                margin-bottom: 0;

            }

            &-cost {
                position: relative;
                display: block;
                font-size: 1.286rem;
                text-align: end;
                margin-right: 44px;

                &::before {
                    content: "";
                    width: 72px;
                    height: 1px;
                    background-color: #79100b;
                    @include center-y;
                    right: 35%;
                }
            }
        }
    }

    &__image-2,
    &__image-3 {
        display: none;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    &__title {
        position: relative;
        font-size: 3.428rem;
        margin-top: 216px;
        margin-left: 7px;
        margin-bottom: 0;
        line-height: 1.2;

        @media screen and (max-width: 1440px) {
            position: absolute;
            left: 8%;
            top: 180px;
            white-space: nowrap;
            z-index: 1;
        }

        &::after {
            content: '19';
            position: absolute;
            top: -60%;
            right: 18px;
            font-size: 12.642rem;
            color: #dbcfc9;
            opacity: .3;

            @media screen and (max-width: 1440px) {
                display: none;
            }
        }
    }

    &__catalog {
        font-size: 1.286rem;
        margin-left: 9px;

        @media screen and (max-width: 1440px) {
            margin-top: 440px;
            margin-left: 18%;
        }


        &-link {
            color: #000000;
            padding-bottom: 3px;
            text-decoration: none;

            &:hover {
                color: #79100b;
                border-bottom: 1px solid #79100b;
                text-decoration: none;
            }
        }
    }

    &__social {
        font-size: 1.14rem;
        padding-top: 218px;
        text-align: center;
        margin-bottom: -3px;
        margin-left: 5px;

        @media screen and (max-width: 1440px) {
            margin-left: 17%;
            padding-top: 170px;
        }

        &-link {
            position: relative;
            margin-right: 60px;
            color: #000000;
            text-decoration: none;

            @media screen and (max-width: 1440px) {
                margin-right: 40px;
            }


            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #79100b;
                border-bottom: 1px solid #79100b;
                text-decoration: none;
            }

            &::after {
                content: "";
                display: inline-block;
                width: 25px;
                height: 1px;
                background-color: #000000;
                @include center-y;
                left: 133%;

                @media screen and (max-width: 1440px) {
                    width: 19px;
                }
            }

            &:last-child::after {
                display: none;
            }
        }
    }

    &__footer {
        margin-top: 15px;
        margin-right: 90px;
        text-align: end;

        @media screen and (max-width: 1440px) {
            margin-top: 0;
        }


        &-number {
            font-size: 2.571rem;
            color: #952126;
            margin-right: 170px;

            @media screen and (max-width: 1440px) {
                margin-right: 50px;
            }

            &--color {
                font-size: 1.714rem;
                color: #000000;
            }
        }

        &-link {
            vertical-align: top;
            font-size: 1.128rem;
            color: #342b2b;
            text-decoration: underline;

            &:hover {
                color: #79100b;
            }
        }
    }

    .page {
        right: 6%;
        margin-top: 30px;
    }

}