<section class="about">
    <h2 class="about__title section__title">О бренде</h2>

    <div class="container about__container">
        <div class="about__wrapper">
            <img src="images/about-1.png" alt="" class="about__wrapper-img">
            <div class="about__wrapper-description about__wrapper-description--position-1">
                <p class="about__wrapper-text">Концепция «свободной женщины» была придумана и
                    создана основателем и
                    дизайнером Кристиной Беккер на нальном этапе воплощения ее в реальность.
                    <br>
                    <br>
                    Идея разработки свастоящий успех и имиджевую попободных кроем моделей с
                    яркими дизайнерскими акцентами составляет основу бренда, которая получила нулярность
                </p>
            </div>
        </div>
        <div class="about__wrapper about__wrapper--last">
            <img src="images/about-2.png" alt="" class="about__wrapper-img">
            <div class="about__wrapper-description about__wrapper-description--position-2">
                <p class="about__wrapper-text">
                    Ключевыми моделями бренда I AM WOMEN стали рубашки и брюки с безупречной посадкой; а также платья,
                    подчеркивающие женсвенные формы и жилеты, вписывающиеся в любой гардероб своременой женщины. Каждая
                    модель сохраняет свою актуальность в течение нескольких сезонов.</p>
            </div>
        </div>
    </div>

    <div class="page">
        <span class="page__active">03</span>
        <div class="page__line"></div>
        <a href="#" class="page__next-pages">01</a>
        <a href="#" class="page__next-pages">02</a>
        <a href="#" class="page__next-pages">04</a>
        <a href="#" class="page__next-pages">05</a>
    </div>
</section>