<section class="blog">
    <h2 class="section__title blog__title">Блог</h2>

    <div class="blog__number">
        <span class="blog__number--border">03/<sub>12</sub></span>
    </div>

    <div class="blog__wrapper">

        <div class="blog__wrapper-section blog__wrapper-news">
            <span class="blog__wrapper-hashtag">#новости</span>
            <img src="images/blog-1.png" alt="News" class="blog__wrapper-img">
            <h4 class="blog__wrapper-title">Лучший выбор: костюмы’18</h4>
            <p class="blog__wrapper-description">Проще говоря, выбирайте более светлые и более темные оттенки одного
                цвета, в конкретном случае — родственные фиолетовому. Такой образ может легко вписаться в рамки
                повседневной жизни</p>
        </div>

        <div class="blog__wrapper-section blog__wrapper-news">
            <span class="blog__wrapper-hashtag">#новости</span>
            <img src="images/blog-2.png" alt="News" class="blog__wrapper-img">
            <h4 class="blog__wrapper-title">Аксессуары осень — зима ‘18</h4>
            <p class="blog__wrapper-description">Аксессуары являются важнейшим частью для создания целостного образа.
                Правильно подобранные украшения помогут сделать лук более гармоничным
                и стильным, ну а неправильно — испортят ваш лук</p>
        </div>

        <div class="blog__wrapper-section blog__wrapper-advice">
            <span class="blog__wrapper-hashtag">#советы</span>
            <img src="images/blog-3.png" alt="Advice" class="blog__wrapper-img">
            <h4 class="blog__wrapper-title">3 крутых образа для офиса</h4>
            <p class="blog__wrapper-description">Кому-то нравится строгий стиль в одежде, а кому-то приходится его
                придерживаться из-за офисного дресс-кода. Так или иначе, не стоит превращать деловой стиль в скучный и
                консервативный</p>
        </div>



        <div class="blog__wrapper-section blog__wrapper-trends">
            <span class="blog__wrapper-hashtag">#тенденции</span>
            <img src="images/blog-4.png" alt="Advice" class="blog__wrapper-img">
            <h4 class="blog__wrapper-title">С чем носить ультрафиолет?</h4>
            <p class="blog__wrapper-description">Уже не первый сезон монохромные образы являются одной из главных
                тенденций. Дизайнеры и стилисты призывают подбирать вещи в рамках одного сектора цветового круга</p>
        </div>

    </div>

    <a href="#" class="blog__link">Перейти в блог</a>
</section>