<footer class="footer">

    <div class="container footer__container">

        <div class="footer__left">
            <ul class="footer__list footer__list--margin-left-side">
                <li class="footer__list-item footer__list-item--bold">Каталог</li>
                <li class="footer__list-item"><a class="footer__link-item">Пальто</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Жилты и жакеты</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Костюмы</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Трикотаж</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Платья</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Блузы и топы</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Футболки</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Юбки и брюки</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Аксессуары</a></li>
            </ul>
            <ul class="footer__list footer__list--margin-left-side">
                <li class="footer__list-item footer__list-item--bold">О бренде</li>
                <li class="footer__list-item"><a class="footer__link-item">Оферта</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Оплата и доставка</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Возврат</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Контакты</a></li>
            </ul>
            <ul class="footer__list footer__list--margin-left-side">
                <li class="footer__list-item"><a class="footer__link-item">Sale</a></li>
                <li class="footer__list-item"><a class="footer__link-item">New</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Looks</a></li>
                <li class="footer__list-item"><a class="footer__link-item">Блог</a></li>
            </ul>
        </div>

        <div class="footer__right">
            <ul class="footer__list footer__list--margin-right-side">
                <li class="footer__list-item footer__list-item--bold">Звонок с сайта:</li>
                <li class="footer__list-item footer__list-item--bold footer__list-item--mb-2">Присоединяйся к нам:</li>
                <li class="footer__list-item footer__list-item--bold footer__list-item--mb-3">Получи скидку 5% </li>
                <li class="footer__list-item footer__list-item--bold">Принимаем к оплате:</li>
            </ul>
            <div class="footer-right-side">
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a class="footer__tel" href="tel:+380971410968">+38-097-141-09-68</a>
                    </li>
                    <li class="footer__list-item footer__list-item--mb-2">
                        <a class="footer__social" href="#">Facebook</a>
                        <a class="footer__social" href="#">Youtube</a>
                        <a class="footer__social" href="#">Vkontakte</a>
                    </li>
                </ul>

                <input class="footer__email" type="email" name="email" placeholder="Ваш E-mail">

                <div class="footer__pay">
                    <span class="footer__visa"></span>
                    <span class="footer__master-card"></span>
                    <span class="footer__paypal"></span>
                </div>
                
                <p class="footer__pay-text">Вы можете оплатить наличными  при<br>
                    получении либо выбрать другой <a class="footer__pay-link" href="#"> способ оплаты</a></p>
            </div>
        </div>
         <p class="footer__copyright">&copy; 2008–2018 I AM WOMEN</p>
    </div>
</footer>