<header class="header">
    <div class="header__bg-image">
        <img class="header__bg-img" src="images/hero-bg-photo.png" alt="">
    </div>

    <div class="container">
        <div class="header__logo">
            <a href="#" class="header__link-logo">
                <img class="header__img-logo" src="images/logo.png" alt="I AM WOMAN">
            </a>
        </div>

        <input class="header__search" type="search" placeholder="Search" name="search" id="headerSearch">

        <ul class="header__icons-list">
            <li class="header__list-item">
                <a class="header__link-list header__link-search" href="#" id="headerBtn"></a>
            </li>


            <li class="header__list-item">
                <a class="header__link-list header__link-avatar" href="#"></a>
            </li>
            <li class="header__list-item">
                <a class="header__link-list header__link-bag" href="#"></a>
            </li>
        </ul>

    </div>

    <div class="burger-side">
        <div class="burger">
            <div class="burger__line burger__line-1"></div>
            <div class="burger__line burger__line-2"></div>
            <div class="burger__line burger__line-3"></div>
        </div>
        <p class="burger-side__text">Распродажа SS’18</p>
    </div>


</header>