<section class="hero">
    <div class="hero__container container ">
        <div class="hero__text">
            <h1 class="hero__title">Новая <br> круизная коллекция ‘19</h1>
            <p class="hero__catalog"><a href="#" class="hero__catalog-link">Перейти в каталог</a></p>
            <div class="hero__social">
                <a class="hero__social-facebook hero__social-link" href="#">Facebook</a>
                <a class="hero__social-youtube hero__social-link" href="#">Youtube</a>
                <a class="hero__social-vk hero__social-link" href="#">Vkontakte</a>
            </div>
        </div>
        <div class="hero__image"><img src="images/hero-photo.png" alt=""></div>
    </div>
</section>