<section class="hero">
    <div class="hero__container container ">
        <div class="hero__description">
            <h1 class="hero__title">Новая <br> круизная коллекция ‘19</h1>
            <div class="hero__catalog"><a href="#" class="hero__catalog-link">Перейти в каталог</a></div>
            <div class="hero__social">
                <a class="hero__social-facebook hero__social-link" href="#">Facebook</a>
                <a class="hero__social-youtube hero__social-link" href="#">Youtube</a>
                <a class="hero__social-vk hero__social-link" href="#">Vkontakte</a>
            </div>
        </div>
        <div class="hero__image hero__image-1" id="hero__image-1">
            <img class="hero__image--size" src="images/hero-photo.png" alt="">
            <div class="hero__image-text">
                <p class="hero__image-text-product">Хлопковое платье в полоску</p>
                <span class="hero__image-text-cost">9 900 рублей</span>
            </div>
        </div>
        <div class="hero__image hero__image-3" id="hero__image-3">
            <img class="hero__image--size" src="images/hero-photo-2.png" alt="">
            <div class="hero__image-text">
                <p class="hero__image-text-product">Спортивны желтый костюм</p>
                <span class="hero__image-text-cost">9 900 рублей</span>
            </div>
        </div>
        <div class="hero__image hero__image-2" id="hero__image-2">
            <img class="hero__image--size" src="images/hero-photo-3.png" alt="">
            <div class="hero__image-text">
                <p class="hero__image-text-product">Платье — халат со стразами</p>
                <span class="hero__image-text-cost">9 900 рублей</span>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="hero__footer">
            <span class="hero__footer-number">&lt; <span class="hero__photo--number">01</span>/<sub class="hero__footer-number--color">3 </sub> &gt;</span>
            <a href="" class="hero__footer-link">Смотреть все</a>
        </div>
    </div>
    <div class="page">
        <span class="page__active">01</span>
        <div class="page__line"></div>
        <a href="#" class="page__next-pages">02</a>
        <a href="#" class="page__next-pages">03</a>
        <a href="#" class="page__next-pages">04</a>
        <a href="#" class="page__next-pages">05</a>
    </div>
</section>