<section class="new-arrival">
    <div class="container new-arrival__container">
        <h2 class="new-arrival__title section__title">Новое поступление</h2>

        <ul class="new-arrival__list">
            <li class="new-arrival__list-item"><a href="#" class="new-arrival__list-link">Платья</a></li>
            <li class="new-arrival__list-item"><a href="#" class="new-arrival__list-link">Блузы и топы</a></li>
            <li class="new-arrival__list-item"><a href="#" class="new-arrival__list-link">Брюки и юбки</a></li>
        </ul>

        <div class="new-arrival__slider">
            <div class="new-arrival__products">
                <div class="new-arrival__product">
                    <a href="#" class="new-arrival__product-link">
                        <img src="images/new-arrival-1.png" alt="" class="new-arrival__product-img">
                        <span class="new-arrival__product-description">Платье - боди</span>
                        <span class="new-arrival__product-cost">11 700 рублей</span>
                    </a>
                </div>

                <div class="new-arrival__product">
                    <a href="#" class="new-arrival__product-link">
                        <img src="images/new-arrival-2.png" alt="" class="new-arrival__product-img">
                        <span class="new-arrival__product-description">Этническое платье</span>
                        <span class="new-arrival__product-cost">7 800 рублей</span>
                    </a>
                </div>

                <div class="new-arrival__product">
                    <a href="#" class="new-arrival__product-link">
                        <img src="images/new-arrival-3.png" alt="" class="new-arrival__product-img">
                        <span class="new-arrival__product-description">Шелковое платье<span
                                class="new-arrival__product-description--display-none"> с принтом</span></span>
                        <span class="new-arrival__product-cost">4 800 рублей</span>
                    </a>
                </div>
            </div>
        </div>

        <a href="#" class="new-arrival__catalog">Смотреть все</a>

        <div class="new-arrival__next new-arrival__pagination"></div>
        <div class="new-arrival__prev new-arrival__pagination"></div>
    </div>

    <div class="page">
        <span class="page__active">02</span>
        <div class="page__line"></div>
        <a href="#" class="page__next-pages">01</a>
        <a href="#" class="page__next-pages">03</a>
        <a href="#" class="page__next-pages">04</a>
        <a href="#" class="page__next-pages">05</a>
    </div>
</section>