<section class="subscribe">
    <div class="container subscribe__container">
        <div class="subscribe__wrapper">
            <h4 class="subscribe__title">
                Подпишись на новости I AM WOMEN <br>
                и получите скидку 5% на следующую покупку
            </h4>

            <form class="subscribe__form" action="#" method="post">
                <input class="subscribe__email-input" type="email" name="email" placeholder="Ваш E-mail">
                <input class="subscribe__btn-submit" type="submit" value="Подписаться">
            </form>

            <p class="subscribe__description">Подписываясь на новости, вы даёте согласие <br>
                на обработку персональных данных</p>
        </div>
    </div>
</section>